body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0; 

}

.section1 {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px 200px; /* create 10px space vertically and 180px horizontally */
    flex: 1;
}
.header {
    display: flex;
    justify-content: space-between; /* pushes logo left, links right */
    align-items: center;

}
.part1 {
    display: flex;
    align-items: flex-start;
    flex: 1;
    padding: 150px 0; /*Adds 60px on the top and bottom. */
    gap: 40px; /* Separate the picture from the text with a gap of 40px */
}
img {
    width: 500px;
    height: 200px;
}
h1 {
    display: flex;
    font-weight: 900;
    color: #F9FAF8;
    font-size: 48px;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    margin-right: 100px;
}
.text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
    

}
ul {
    padding: 0;
    margin: 0;
    gap:30px; /*create space between the 3 links */

}
li, ul {
    list-style: none;
    display: flex;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882f6;
    color: #F9FAF8;
    text-decoration: none;
    border: 1px;
    font-size: 14px;
    padding: 8px 30px;
    border-radius: 10px;
    font-weight: 700;
}
    
.left-container {
   display: flex;
   flex-wrap: wrap;
   flex: 1  ;
}
.part2 {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    padding: 0px 200px; /* create 50px space vertically and 180px horizontally */
    margin-bottom: 80px;
    gap: 20px;
}
h2 {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom:30px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;


}
.container {
    display: flex;
    justify-content: center;
    gap: 50px;

}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 130px;
    
}
.imgp2 {
   width: 130px;
   height: 130px;
   border: 3px solid #3882f6;
   border-radius: 15px;
   margin-bottom: 5px;
}
.subtext {
    text-align:center;
    font-size: 14px;
    color: #1f2937;
    margin-bottom: 20px;

}

.part3 {
    display: flex;
    flex-direction: column;
    background-color:#E5E7EB ;
    padding: 100px 380px;
    gap: 10px;
   
}
#testimonial {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;

}
#author {
    font-weight: 700;
    text-align: end;
}
.part4 {
    display: flex;
    justify-content: space-between;
    margin: 100px 200px;
    background-color: #3882f6;
    border-radius: 15px;
    padding: 40px 150px;
}

h3,p {
    display: flex;
    color: #F9FAF8;
    margin: 0;
}
#signup2 {
    display: flex;
    border: 1px solid #F9FAF8;
    align-self: center;
}
.footer {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    padding: 30px 150px;
    
}